[Unit]
Description=IPSet updating service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/root/ipset-app/env/bin/python /root/ipset-app/app.py

[Install]
WantedBy=multi-user.target